<h2><%= @user.email %>さんの詳細プロフィールです。</h2>
<p>名前: </p>
<p>E-mail: </p>
<p>住所: </p>
<p>好きな物: </p>
<p>嫌いな物: </p>

<%= link_to 'ユーザー編集画面', edit_user_registration_path(@user) %>
<%= link_to 'ユーザー削除', user_registration_path, method: :delete, data: { confirm: '本当に削除しますか？' } %>