<div class="center jumbotron">
  <div class="text-center">
    <h1>GoRaKu</h1>
  </div>
</div>
<div class="text-center">
<div class="btn btn-info"><%= link_to 'ログイン', new_user_session_path %></div>
<div class="btn btn-success"><%= link_to '新規登録', new_user_registration_path %></div>
</div>